@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 16px;
}

h2, h3, p {
    color: #464646;
    margin: 0;
}

.fix_section {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #F1F1F1;
}

a {
    color: #000000;
    font-weight: 600;
    font-size: 1em;
    width: auto;
    text-decoration: none;
    transition: all 0.3s ease;
}

.big_headline {
    font-size: 5em;
    color: #5C5C5C;
    font-weight: 600;
} 

.fix_main {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 5%;
    height: auto;
    width: auto;
}

.fix_bg {
    position: relative;
    background-color: #EDEDED;
    height: 45%;
    width: 100%;
}

.fix-bg:after {
    content:'';
    position: absolute;
    background-color: #00C853;
    top: 0;
    width: 50px;
    height: 100px;
}

.fix-bg p {
    position: relative;
    margin-top: 50px;
    margin-left: 5%;
}

.nofix {
    position: absolute;
    display: flex;
    right: 5%;
    height: auto;
    width: 50%;
    background-color: #F5F5F5;
    padding: 25px 50px;
    flex-direction: column;
}

.work_wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;
    margin: 25px 0;
    width: 100%;
    height: auto;
}

.image_work {
    position: relative;
    display: flex;
    background-color: #D7F1DD;
    height: auto;
    width: 45%;
}

.image_work svg {
    position: relative;
    margin: auto;
    height: auto;
    width: 80px;
}

.text_work {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-content: flex-start;
    width: 30%;
    margin: 50px 0;
    padding: 0 26px;
}

.headline_work {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.article_work {
    font-weight: 400;
    font-family: 'PT Sans';
    margin-bottom: 30px;
}

.more_portfolio {
    display: inline-block;
    position: relative;
    color: #00C853;
    transition: all 0.3s ease;
}
