@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding-top: 5%;
    height: 100vh;
    width: 100%;
    background-color: #F9FAFA;
    font-family: 'Montserrat';
    font-size: 14px;
}

nav {
    position: fixed; 
    width: 100%;
    height: auto;
    left: 5%;
    font-size: 1em;
    font-weight: 600;
    z-index: 999;
}

nav a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #00C853;
    transition: all 0.3s ease;
}

nav a::after {
    content: '';
    position: absolute;
    width: 66px;
    height: 2px;
    background-color: black;
    top: 16px;
    left: 1px;
    transition: all 0.3s ease;
}

nav a:hover::after {
    background-color: #00C853;
    transition: all 0.3s ease;
}

.main_section {
    position: absolute;    
    width: 100%;
    height: 100%;
    padding: 0;
}

h1 {
    color: #464646;
    margin: 0;
    font-size: 5em;
    font-weight: 600;
}

p {
    color: #464646;
    font-weight: 500;
    margin: 0;
}

span {
    position: relative;
    text-align: right;
    width: auto;
    color: #7D7D7D;
    font-weight: 600;
    font-size: 1em;
}

span::after {
    content: ' 2018-2019';
    color: #00C853;
}

.green_span {
    color: #00C853;
}

.fix_section {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
    margin: auto;
    height: 100%;
    width: 20%;
}

.fix_main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    transform-origin: center;
    transform: rotate(-90deg);
}

.main_section {
    height: 100%;
    width: 50%;
}

.card_wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}

.card {
    margin: 10px;
    margin-bottom: 100px;
    width: 20vw;
    height: 35%;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 20vh;
    background-color: #F4F4F4;
    transition: all 0.3s ease;
}

.image svg {
    width: 4em;
    margin: auto;
    transition: all 0.3s ease;
}

.text_wrapper {
    margin-top: 2em;
    padding-left: 1em;
}

.text_wrapper h2 {
    font-size: 1.3em;
    font-weight: 600;
}

.text_wrapper p {
    margin-top: 1em;
    color: #7D7D7D;
}

.text_wrapper a {
    display: inline-block;
    border: 2px solid #00C853;
    padding: 4px 10px;
    margin-top: 1em;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    color: #00C853;
}

.card:hover .image {
    background-color: #CBF9D5;
    transition: all 0.3s ease;
}

.card:hover .image svg path {
    fill: rgb(0, 200, 83);
    transition: all 0.3s ease;
}

.card .image svg path {
    transition: all 0.3s ease;
}

.copyright {
    position: fixed;
    right: 5%;
    bottom: 5%;
    width: 10%;
    height: auto;
    z-index: 99;
    transition: all 0.3s ease;
}

.copyright p {
    color: #7D7D7D;
    opacity: 0;
    transition: all 0.3s ease;
}

.copyright svg {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 2em;
    height: auto;
    height: auto;
    transition: all 0.3s ease;
}

.copyright:hover.copyright p{
    opacity: 1;
    transition: all 0.3s ease;
}

.copyright:hover.copyright svg {
    opacity: 0;
    transition: all 0.3s ease;
}

@media screen 
  and (min-width: 100px) 
  and (max-width: 768px) {
    
    .card_wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
    }

    .card {
        margin: 0;
        margin-bottom: 100px;
        width: 100%;
        height: 35%;
    }

  }

  @media screen 
  and (min-width: 100px) 
  and (max-width: 480px) {
    
    body {
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        padding: 10% 5%;
        height: 100%;
    }

    h1 {
        color: #464646;
        text-align: left;
        margin: 0;
        font-size: 3em;
        font-weight: 600;
        margin-bottom: 5%;
    }
    
    span {
        position: relative;
        text-align: right;
        width: auto;
        color: #7D7D7D;
        font-weight: 600;
        font-size: 1em;
    }

    .fix_section {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        margin: 20% 0;
        height: auto;
        width: 100%;
    }

    .fix_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: auto;
        height: auto;
        transform: none;
    }

    .main_section {
        position: relative;    
        width: 100%;
        height: auto;
        padding: 0;
    }

    nav {
        position: relative;
        left: 0;
    }

    nav a {
        color: #00C853;
    }

    nav a:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 60px;
        width: 70%;
        height: 2px;
        margin-left: 15px;
        background-color: #00C853;
    }

    .copyright {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        right: 0;
        bottom: 0;
        width: 100%;
        margin-bottom: 5%;
    }
    
    .copyright svg {
        position: relative;
        right: 0;
        bottom: 0;
    }

    .card .image svg path {
        fill: rgb(0, 200, 83);
    }
}