
body {
    width: 100%;
    height: auto;
    background-color: #F9FAFA;
    padding-top: 5%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

h1 {
    color: #464646;
    font-size: 1.5rem;
    font-weight: 600;
}

h2 {
    color: #7D7D7D;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}


section {
    position: relative;
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

header {
    margin-bottom: 2rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

nav a:hover {
    color: #00C853;
    transition: all 0.3s ease;
}

nav a svg:hover g polygon {
    fill: #00C853;
    transition: all 0.3s ease;
}

.arrow_left {
    width: 1.5rem;
    height: auto;
}

.link_home {
    display: inline-block;
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 0 2%;
    transition: all 0.3s ease;
}

.main_image {
    position: relative;
    width: 100%;
    height: 30vh;
    margin-bottom: 2rem;
    background-color: #CBF9D5;
}

.main_text {
    width: 100%;
    height: auto;
    padding: 0 2%;
    margin-bottom: 2rem;
}

.tegs {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.teg_item {
    background-color: #F5F5F5;
    min-width: 23%;
    width: auto;
    height: auto;
    padding: 15px 20px;
    margin: 0;
    margin-right: 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.teg_item:hover {
    background-color: #CBF9D5;
    transition: all 0.3s ease;
}

.teg_item p {
    color: #00C853;
    font-weight: 600;
    margin: 0;
}

article {
    width: 100%;
    padding: 0 2%;
    color: #7D7D7D;
    line-height: 2rem;
    font-weight: 500;
}