body {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    background: #EEEEEE;
    height: 100vh;
    transform: scaleZ(0px);
}

.cursor {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    top: -50px;
    pointer-events: none;
    z-index: 999;
}

.cursor span {
    visibility: visible;
    margin: 4px;
    padding: 7px;
    background-color: #080A0A;
    color: white;
    font-size: 12px;
    border-radius: 5px;
}

.links {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 60px 0;
    width: 15%;
    border-right: 2px rgba(8, 10, 10, 0.05) solid;;
}

.logo svg{
    fill: #080A0A;;
}

svg {
    fill: #080A0A;
}

.links_icons {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.links_icons a {
    height: 30px;
    margin-bottom: 5px;
}

.links_icons a img {
    height: 22px;
}


.bg_blur {
    position: absolute;
    width: 100%;
    height: 100vh;   
    filter: blur(140px);
    z-index: -1;
}

.blue_vector {
    position: absolute;
    top: 0;
    left: 20%;
}

.green_vector {
    position: absolute;
    top: 5%;
    right: 10%;
}

.yellow_vector {
    position: absolute;
    top: 70%;
    left: 50%;
}

.internal_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0;
}

.external_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0;
}

.separator {
    margin: 0 9px;
}

section {
    padding: 60px 60px 0 60px;
    width: 100%;
    height: 100vh;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    top: 0;
}

.now_track {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

.track_meta {
    margin-left: 15px;
}
